.total_tip_total_part{
    
    position: absolute;
    /* border: 2px solid green; */
     left: -200px;

    
}
.total_tip_total_part>div{
    

}
.total_tip_total_part_flex{
    display: flex;
    margin-top: 20px;
    
}
.total_tip_total_part_flex>div{
   
    border: 1px solid red;
    padding: 10px;
    width: 200px;
}
.total_tip_total_part_flex>div p{
   
    margin: 15px;
}