.total_tip_total_part{
    
    position: absolute;
    
    left: -200px;
    
    z-index: 4;
  
    

    
}
.total_tip_total_part>div{
    
    z-index: 4;
    background-color: white;

}
.total_tip_total_part_flex{
    display: flex;
    margin-top: 20px;
   
   
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.total_second_tool{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  
}
.total_tip_total_part_flex>div{
   

    padding: 10px;
    width: 200px;
   
}
.total_tip_total_part_flex>div p{
   
    margin: 15px;
}
.linkcategories{
    
    text-align: start;
    
    text-align: justify;
    margin:20px 30px 20px 0px !important; 
    padding-left: 10px;
    width: 200px;
}
.linkcategories span{
    
    
    position: relative;
    top:1px;
    left:25px;
    font-size: 10px;

}
.total_first_tool>p{
    border: 2px solid green;
    text-align: start;
}
.total_first_tool{
   
   
}
.total_tip_total_part_flex>div:first-child{
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}